mcp==1.23.0
boto3==1.41.5
pillow==11.3.0
strands-agents==1.15.0
strands-agents-tools==0.2.16
seaborn==0.13.2
bedrock-agentcore==1.0.7
bedrock-agentcore-starter-toolkit==0.2.0
termcolor==3.2.0
turbine-models==0.2.1
folium==0.20.0
shapely==2.1.2
geopandas==1.1.1
py-wake==2.6.11
ipykernel>=6.30.1
networkx>=3.4.2
matplotlib==3.10.7
weasyprint==66.0
markdown==3.10
pypdf2==3.0.1
typing
opentelemetry-instrumentation==0.59b0
requests==2.32.5
numpy==2.2.5
pandas==2.2.3
scipy==1.15.3
