name: CI
on: [push, pull_request]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    env:
      IMAGE_TAG: ${{ github.sha }}
      ECR_URI: ${{ vars.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com
      AGENT_IMAGE: ${{ vars.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com/wind-dev-agent
      TOOL_IMAGE: ${{ vars.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com/wind-tools-lambda-image
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_ROLE_NAME }}
      - uses: actions/setup-python@v3
      - uses: aws-actions/setup-sam@v2
      - run: aws ecr create-repository --repository-name wind-dev-agent --region ${{ vars.AWS_REGION }} || true
      - run: aws ecr create-repository --repository-name wind-tools-lambda-image --region ${{ vars.AWS_REGION }} || true
      - run: aws ecr get-login-password --region ${{ vars.AWS_REGION }} | docker login --username AWS --password-stdin $ECR_URI      
      - name: Build and push agent image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: $AGENT_IMAGE:$IMAGE_TAG,$AGENT_IMAGE:latest
          context: ./agents
          platforms: linux/arm64
          cache-from: type=registry,ref=$AGENT_IMAGE:buildcache
          cache-to: type=registry,ref=$AGENT_IMAGE:buildcache,mode=max
    
      - name: Build and push tool image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: $TOOL_IMAGE:$IMAGE_TAG,$TOOL_IMAGE:latest
          context: ./mcp_tools
          platforms: linux/arm64
          provenance: false
          cache-from: type=registry,ref=$TOOL_IMAGE:buildcache
          cache-to: type=registry,ref=$TOOL_IMAGE:buildcache,mode=max

      - name: Deploy SAM stack
        run: |
          sam deploy --parameter-overrides ParameterKey="AgentImageUri",ParameterValue="$AGENT_IMAGE:$IMAGE_TAG" ParameterKey=ToolImageUri,ParameterValue="$TOOL_IMAGE:$IMAGE_TAG" --no-confirm-changeset --no-fail-on-empty-changeset
