name: CI
on: [push, pull_request]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    env:
      IMAGE_TAG: ${{ github.sha }}
      ECR_URI: ${{ vars.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.AWS_REGION }}.amazonaws.com
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_ROLE_NAME }}
      - uses: actions/setup-python@v3
      - uses: aws-actions/setup-sam@v2
      - run: aws ecr create-repository --repository-name wind-dev-agent --region ${{ vars.AWS_REGION }} || true
      - run: aws ecr create-repository --repository-name wind-tools-lambda-image --region ${{ vars.AWS_REGION }} || true
      - run: aws ecr get-login-password --region ${{ vars.AWS_REGION }} | docker login --username AWS --password-stdin $ECR_URI
      - id: build-agent
        run: |
          docker buildx build --platform linux/arm64 -t $ECR_URI/wind-dev-agent:$IMAGE_TAG --push ./agents
          echo "agent_image=$ECR_URI/wind-dev-agent:$IMAGE_TAG" >> $GITHUB_OUTPUT
      - id: build-tool
        run: |
          docker buildx build --platform linux/arm64 -t $ECR_URI/wind-tools-lambda-image:$IMAGE_TAG --provenance=false --push ./mcp_tools
          echo "tool_image=$ECR_URI/wind-tools-lambda-image:$IMAGE_TAG" >> $GITHUB_OUTPUT
      - run: |
          sam deploy --parameter-overrides ParameterKey="AgentImageUri",ParameterValue="${{ steps.build-agent.outputs.agent_image }}" ParameterKey=ToolImageUri,ParameterValue="${{ steps.build-tool.outputs.tool_image }}" --no-confirm-changeset --no-fail-on-empty-changeset
